table#items
{
  table-layout: fixed;
  width:100%;
}

table#receipt
{
  border-collapse: collapse;
  text-align: center;
}

td#receipt
{
  border:solid;
  border-width: thin;
  padding: 2pt;
}*/

picture
{
  height=auto;
}

div
{
  border: solid;
  border-width: thin;
}
